@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* extends */
/* .contenedor-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
} */
/* se utiliza de la siguiente manera 
.clase-aaa{
    @extends .contenedor.flex;
    ]*/
/* mixin*/
.navbar {
  height: 70px;
}
.navbar .navbar-brand img {
  height: 180px;
  padding: 15px;
}

@media (max-width: 767px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 150px;
  }
  .navbar-brand img {
    height: 100px;
  }
}
.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode a {
  color: white;
}

.dark-mode ul li a {
  color: white !important;
}

.btn {
  background-color: #f7401c;
  border-color: #f4b20c;
}
.btn:hover {
  background-color: rgba(50, 3, 104, 0.856);
}

.fondo img {
  background-size: cover;
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.iframe {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 5px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
  max-height: 100%;
  font-size: 16px;
  position: relative;
}
.hero .hero-content {
  background-color: rgba(0, 0, 0, 0.604);
  color: white;
  position: absolute;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.hero .hero-content a {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}
.hero .hero-content a:hover {
  transform: scale(1.1);
}

.hero img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.services-index {
  display: flex;
  flex-direction: column;
  background: linear-gradient(145deg, rgba(50, 3, 104, 0.856), rgba(247, 64, 28, 0.938), rgba(244, 178, 12, 0.681)), url("../../images/imagen fondo 1.jpg");
  padding: 15px;
  gap: 10px;
  min-height: 250px;
  max-height: 100%;
}
.services-index .service-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}
.services-index .service-container .service-title {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
.services-index .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}
.services-index .service:hover {
  transform: scale(1.2);
}
.services-index .service .service-content {
  color: black;
  text-align: center;
}
.services-index .service .service-content .service-content h4 {
  margin: 0;
}
.services-index .service-vermas {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.service-vermas a {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.service img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 110px;
  object-fit: contain;
  margin-bottom: 10px;
}

.service:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.team {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 20px;
  gap: 15px;
}
.team .team-title {
  color: white;
  grid-column: span 4;
  text-align: center;
}
.team .team-content {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 7px 7px 7px #f7401c;
  transition: transform 0.3s ease;
}
.team .team-content:hover {
  transform: translateY(-10px);
  box-shadow: 7px 7px 7px #f4b20c;
}
.team .team-content .team-content h4,
.team .team-content .team-content h3,
.team .team-content .team-content p {
  margin: 5px;
  font-size: 16px;
}
.team .team-content1 {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 7px 7px 7px #f4b20c;
}
.team .team-content1 a {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
.team .team-content img {
  max-width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 10px;
}

.proyecto {
  background-color: #000000;
  font-family: "Oswald", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 15px;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.proyecto .proyecto-info {
  grid-column: span 4;
}
.proyecto .proyecto_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(145deg, #320368, #f7401c);
  padding: 10px;
}
.proyecto .proyecto_1 img {
  width: 290px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.proyecto .centro {
  grid-column: span 2;
}

.services-page {
  background-color: rgb(0, 0, 0);
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}
.services-page .services-page-title {
  text-align: center;
  color: white;
}
.services-page .service-page-content1 {
  background-color: #f7401c;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  gap: 10px;
  color: white;
  transition: transform 0.3s ease;
}
.services-page .service-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 50%;
}
.services-page .service-page-content2 {
  background-color: #f4b20c;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: row-reverse;
  padding: 10px;
  gap: 10px;
  color: white;
  transition: transform 0.3s ease;
}
.services-page .service-page-content3 {
  background-color: #f7401c;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  gap: 10px;
  color: white;
  transition: transform 0.3s ease;
}
.services-page .service-page-content1 img,
.services-page .service-page-content2 img,
.services-page .service-page-content3 img {
  width: 50%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 7px 7px 7px #f4b20c;
}

.team-page {
  background-color: rgb(0, 0, 0);
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
  gap: 15px;
}
.team-page .team-page-title {
  text-align: center;
}
.team-page .team-profile {
  display: flex;
  border-radius: 10px;
  background-color: #320368;
  padding: 15px;
}
.team-page .team-profile .team-profile-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%;
  padding: 10px;
  gap: 20px;
}
.team-page .team-profile img {
  width: 20%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.titulo-llamada {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 10px;
}

.agendar-llamada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "Oswald", sans-serif;
}
.agendar-llamada .texto-llamada {
  text-align: center;
}
.agendar-llamada .tabla-llamada {
  justify-content: center;
  text-align: center;
  display: flex;
  width: 25%;
  background: linear-gradient(to bottom right, #320368, #f7401c, #f4b20c);
  border-radius: 10px;
  color: white;
  margin-top: 10px;
}
.agendar-llamada .tabla-llamada .tabla-llamada-content {
  padding: 10px;
}
.agendar-llamada .tabla-llamada form div label,
.agendar-llamada .tabla-llamada form div input,
.agendar-llamada .tabla-llamada form div textarea,
.agendar-llamada .tabla-llamada form div button {
  display: table-cell;
  padding: 10px;
}
.agendar-llamada .tabla-llamada form div label {
  text-align: center;
}
.agendar-llamada .tabla-llamada form div input,
.agendar-llamada .tabla-llamada form div textarea {
  width: calc(100% - 10px);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.agendar-llamada .tabla-llamada form div button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.agendar-llamada .tabladellamada form div button:hover {
  background-color: #0b0b0b;
}

@media (max-width: 510px) {
  .hero-content {
    padding: 5px;
  }
  .hero-content h1 {
    font-size: 24px;
  }
  .hero-content h2 {
    font-size: 20px;
  }
}
@media (max-width: 950px) {
  .team {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .team {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 580px) {
  .team {
    display: flex;
    flex-direction: column;
  }
  .team-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .team-title {
    grid-column: auto;
    text-align: center;
  }
}
@media (max-width: 390px) {
  .team {
    display: flex;
    flex-direction: column;
  }
  .team-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .team-title {
    grid-column: auto;
    text-align: center;
  }
}
@media (max-width: 1170px) {
  .proyecto {
    grid-template-columns: 1fr;
  }
  .proyecto-info {
    grid-column: auto;
    text-align: center;
  }
}
@media (max-width: 930px) {
  .proyecto {
    display: flex;
    flex-direction: column;
  }
  .proyecto-info {
    grid-column: auto;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .proyecto {
    display: flex;
    flex-direction: column;
  }
  .proyecto-info {
    grid-column: auto;
    text-align: center;
  }
}
@media (max-width: 414px) {
  .proyecto {
    display: flex;
    flex-direction: column;
  }
  .proyecto-info {
    grid-column: auto;
    text-align: center;
  }
}
@media (max-width: 390px) {
  .proyecto {
    display: flex;
    flex-direction: column;
  }
  .proyecto-info {
    grid-column: auto;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
