@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.navbar {
  height: 70px;
}
.navbar .navbar-brand img {
  height: 180px;
  padding: 15px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode a {
  color: white;
}

.dark-mode ul li a {
  color: white !important;
}

.btn {
  background-color: #412779;
  border-color: #9ac31d;
}

.fondo img {
  background-size: cover;
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.iframe {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 5px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
  max-height: 100%;
  font-size: 16px;
  position: relative;
}
.hero .hero-content {
  background-color: rgba(0, 0, 0, 0.604);
  color: white;
  position: absolute;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.hero .hero-content a {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 180px;
  margin: 0 auto;
}

.hero img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.services-index {
  display: flex;
  flex-direction: column;
  background: linear-gradient(217deg, #412779, rgba(0, 0, 0, 0) 70.71%), linear-gradient(127deg, #9ac31d, rgba(0, 0, 0, 0.2862745098) 70.71%), linear-gradient(336deg, #412779, #9ac31d 70.71%);
  padding: 15px;
  gap: 10px;
  min-height: 250px;
  max-height: 100%;
}
.services-index .service-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}
.services-index .service-container .service-title {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
.services-index .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services-index .service .service-content {
  color: black;
  text-align: center;
}
.services-index .service .service-content .service-content h4 {
  margin: 0;
}
.services-index .service-vermas {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.service-vermas a {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.service img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.service:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.team {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 20px;
  gap: 15px;
}
.team .team-title {
  color: white;
  grid-column: span 4;
  text-align: center;
}
.team .team-content {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 7px 7px 7px #9ac31d;
}
.team .team-content .team-content h4,
.team .team-content .team-content h3,
.team .team-content .team-content p {
  margin: 5px;
  font-size: 16px;
}
.team .team-content1 {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 7px 7px 7px #9ac31d;
}
.team .team-content1 a {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
.team .team-content img {
  max-width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 10px;
}

.proyecto {
  background-color: rgb(0, 0, 0);
  font-family: "Oswald", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 15px;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.proyecto .proyecto-info {
  grid-column: span 4;
}
.proyecto .proyecto_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: blueviolet;
  padding: 10px;
}
.proyecto .proyecto_1 img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.services-page {
  background-color: rgb(0, 0, 0);
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  padding: 15px;
}
.services-page .services-page-title {
  text-align: center;
  color: white;
}
.services-page .service-page-content1 {
  background-color: rgb(65, 39, 121);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.services-page .service-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 50%;
}
.services-page .service-page-content2 {
  background-color: rgb(153, 195, 29);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: row-reverse;
}
.services-page .service-page-content3 {
  background-color: aqua;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.services-page .service-page-content1 img,
.services-page .service-page-content2 img,
.services-page .service-page-content3 img {
  width: 50%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.team-page {
  background-color: rgb(0, 0, 0);
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
  gap: 15px;
}
.team-page .team-page-title {
  text-align: center;
}
.team-page .team-profile {
  display: flex;
  border-radius: 10px;
  background-color: blueviolet;
  padding: 10px;
}
.team-page .team-profile .team-profile-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%;
  padding: 20px;
  gap: 20px;
}
.team-page .team-profile img {
  width: 25%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.titulo-llamada {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 10px;
}

.agendar-llamada {
  background-color: black;
  color: white;
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agendar-llamada .texto-llamada {
  text-align: center;
}
.agendar-llamada .tabla-llamada {
  justify-content: center;
  text-align: center;
  display: flex;
  width: 25%;
  background: linear-gradient(to bottom right, #371a7c, #000);
  border-radius: 10px;
  color: white;
  margin-top: 10px;
}
.agendar-llamada .tabla-llamada .tabla-llamada-content {
  padding: 10px;
}
.agendar-llamada .tabla-llamada form div label,
.agendar-llamada .tabla-llamada form div input,
.agendar-llamada .tabla-llamada form div textarea,
.agendar-llamada .tabla-llamada form div button {
  display: table-cell;
  padding: 10px;
}
.agendar-llamada .tabla-llamada form div label {
  text-align: center;
}
.agendar-llamada .tabla-llamada form div input,
.agendar-llamada .tabla-llamada form div textarea {
  width: calc(100% - 10px);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.agendar-llamada .tabla-llamada form div button {
  background-color: #3f5440;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.agendar-llamada .tabladellamada form div button:hover {
  background-color: #0b0b0b;
}

/*# sourceMappingURL=style.css.map */
