/* extends */

/* .contenedor-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
} */

/* se utiliza de la siguiente manera 
.clase-aaa{
    @extends .contenedor.flex;
    ]*/


/* mixin*/