.titulo-llamada{
  background-color: $base-color;
  color: $secondary-base-color;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 10px;
}

.agendar-llamada{
  @include flex(column,center,center);
  background-color: $base-color;
  color: $secondary-base-color;
  font-family: "Oswald", sans-serif;

  .texto-llamada{
    text-align: center;
}

.tabla-llamada {
  justify-content: center;
  text-align: center;
  display: flex;
  width: 25%;
  background: linear-gradient(to bottom right, $primari-color, $secondary-color, $effect-color);
  border-radius: 10px;
  color: $secondary-base-color;
  margin-top: 10px;

  .tabla-llamada-content{
    padding: 10px;
    width: 100%;
  }
}

.form div {
  display: block; 
  width: 100%; 
  margin-bottom: 10px;
}


.tabla-llamada form div label,
.tabla-llamada form div input,
.tabla-llamada form div textarea,
.tabla-llamada form div button {
  display: table-cell;
  padding: 10px;
  width: 100%;
}

.tabla-llamada form div label {
  text-align: center;
}

.tabla-llamada form div input,
.tabla-llamada form div textarea {
  border: 1px solid $secondary-base-color;
  border-radius: 4px;
  box-sizing: border-box;
}

.tabla-llamada form div button {
  background-color: $base-color;
  color: $secondary-base-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

}






  
  

  
 