.proyecto{
    background-color: $base-color;
    font-family: "Oswald", sans-serif;
    @include grid(grid,repeat(auto-fit, minmax(320px, 1fr)),15px,15px); 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $secondary-base-color;

    .proyecto-info{
        grid-column: span 4;
    }

    .proyecto_1{
        border-radius: 10px;
        background: linear-gradient(145deg, $primari-color, $secondary-color);
        padding: 10px;
    }

    .proyecto_1 img{
        width: 290px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }

    .centro {
        grid-column: span 2; 
    }
}








