.hero{
    @include flex(column,center,center);
    width: 100%;
    min-height: 250px;
    max-height: 100%;
    font-size: 16px;
    position: relative;

    .hero-content{
        background-color: rgba(0, 0, 0, 0.604);
        color: $secondary-base-color;
        position: absolute;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }

    .hero-content a {
    text-decoration: none;
    color: $base-color;
    background-color: $secondary-base-color;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    transition: transform 0.3s ease;

    &:hover{
        transform: scale(1.1);  
    }
}
}

.hero img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.services-index{
    background: linear-gradient(145deg, #320368da, #f7401cef, #f4b20cae), url("../../images/imagen fondo 1.jpg");
    padding: 15px ;
    gap: 10px;
    min-height: 250px;
    max-height: 100%;

    .service-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 45px; 

        .service-title{
            text-align: center;
            padding: 10px;
            margin-bottom: 20px;
        }
    }

    .service {
        @include flex(column,center,center); 
        text-align: center; 
        transition: transform 0.3s ease;

        &:hover{
            transform: scale(1.2);  
        }

        
    .service-content{
    color:$base-color;
    text-align: center;
    
    .service-content h4 {
        margin: 0;
    }
    }
    }

    .service-vermas {
        text-align: center;
        padding: 10px;
        margin: 10px;
        
    }
}

.service-vermas a{
    text-decoration: none;
    color: $secondary-base-color;
    background-color: $base-color;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;  
    text-align: center;
}

.service img {
    width: auto; 
    max-width: 100%; 
    height: auto; 
    max-height: 110px; 
    object-fit: contain; 
    margin-bottom: 10px; 
}


.service:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}


.team{
    background-color: rgb(0, 0, 0);
    @include grid(grid,repeat(auto-fit, minmax(320px, 1fr)),20px,15px); 
    

    .team-title{
        color: $secondary-base-color;
        grid-column: span 4;
        text-align: center;
    }

    .team-content{
        background-color: $secondary-base-color;
        border-radius: 10px;
        padding: 15px;
        transition: transform 0.3s ease;

        &:hover{
            transform: translateY(-10px);
        }

        .team-content h4,
        .team-content h3,
        .team-content p {
            margin: 5px; 
            font-size: 16px;
        }       
    }

    .team-content1{
        background-color: $secondary-base-color;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }

    .team-content1 a{
        text-decoration: none;
        color: $secondary-base-color;
        background-color: $base-color;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        }

    .team-content img{
            max-width: 100%;
            height: 480px;
            object-fit: cover;
            border-radius: 10px;
        }
}













