@media (max-width: 510px) {
    .hero-content {
      padding: 5px; 
    }
    
    .hero-content h1 {
      font-size: 24px; 
    }
  
    .hero-content h2 {
      font-size: 20px; 
    }
  }

  @media (max-width: 950px) {
    .team {
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 768px) {
    .team {
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 580px) {
    .team {
        display: flex;
        flex-direction: column;
    }

    .team-content {
        width: 100%;
        margin-bottom: 20px; 
    }

    .team-title {
        grid-column: auto; 
        text-align: center;
    }
}


@media (max-width: 390px) {
    .team {
        display: flex;
        flex-direction: column;
    }

    .team-content {
        width: 100%;
        margin-bottom: 20px; 
    }

    .team-title {
        grid-column: auto; 
        text-align: center;
    }
}

@media (max-width: 1170px) {
    .proyecto {
        grid-template-columns: 1fr; 
    }

    .proyecto-info {
        grid-column: auto; 
        text-align: center;
    }
}

@media (max-width: 930px) {
    .proyecto {
        display: flex;
        flex-direction: column;
    }

    .proyecto-info {
        grid-column: auto; 
        text-align: center;
    }
}

@media (max-width: 768px) {
    .proyecto {
        display: flex;
        flex-direction: column;
    }

    .proyecto-info {
        grid-column: auto; 
        text-align: center;
    }
}

@media (max-width: 414px) {
    .proyecto {
        display: flex;
        flex-direction: column;
    }

    .proyecto-info {
        grid-column: auto; 
        text-align: center;
    }
}

@media (max-width: 390px) {
    .proyecto {
        display: flex;
        flex-direction: column;
    }

    .proyecto-info {
        grid-column: auto; 
        text-align: center;
    }
}

@media (max-width: 768px) {
    .team-page {
        .team-profile {
            flex-direction: column; 
            align-items: center; 

            img {
                width: 60%; 
            }

            .team-profile-info {
                width: 100%;
            }
        }
    }
}


@media (max-width: 480px) {
    .team-page {
        padding: 10px; 
        gap: 10px; 

        .team-profile {
            img {
                width: 80%; 
            }

            .team-profile-info {
                text-align: left; 
                padding: 5px; 
            }
        }
    }

    .team-page-title {
        h1 {
            font-size: 1.5rem; 
        }
        h2 {
            font-size: 1.2rem; 
        }
    }
}


@media (max-width: 768px) {
    .tabla-llamada {
        width: 50%;
    }

    .agendar-llamada {
        padding: 20px; 
    }
}


@media (max-width: 480px) {
    .tabla-llamada {
        width: 90%; 
        flex-direction: column; 

        form div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        form div label,
        form div input,
        form div textarea,
        form div button {
            width: 100%; 
        }

        form div input,
        form div textarea {
            padding: 8px; 
        }

        form div button {
            padding: 12px 20px; 
            font-size: 1rem; 
        }
    }
}

