.services-page{
    background-color: $base-color;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    

    .services-page-title{
        text-align: center;
        color: $secondary-base-color ;
    }

    .service-page-content1{
        background-color: $base-color;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        padding: 10px;
        gap: 10px;
        color: $secondary-base-color;
        transition: transform 0.3s ease;
        box-shadow: 7px 7px 7px $secondary-base-color;

    
    }

    .service-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 60%;
    }

    .service-page-content1 img
    {
    width: 40%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    
}


}









